/*
 nextflow configs use java-style comments
*/

// Properties like 'script_dir' can be referenced / interpolated within the
// nextflow config (this isn't easy to do in snakemake's yaml-configs)

/*
  'nextflow' has different 'scope's within it's config files, eg, separate
  scopes for:
    - the running environment (env);
    - rules in the nextflow script (process);
    - which cluster-runner you want to use (executor)

  You can define config values using
    - inline syntax:
        ` <scope>.<param_name> = <value> `
    - scope-block syntax:
        ` <scope> { <param_name> = <value> } `
*/

params.repo_details_file = "conf/repositories.tsv"

params {
    rmarkdown_file = "doc/notebook.Rmd"

    repo_dir = "data/packages"

    // Store results for pooled-analysis over the different packages here:
    //`<pooled_results_dir>/<analysis_basename>`
    pooled_results_dir = "results/pooled"

    // Store results for individual packages in package-specific subdirectories:
    // `<pkg_results_dir>/<pkg_name>/<analysis_basename>`
    pkg_results_dir = "results/packages"

    rowbind_script = "rowbind-tsv.R"
}

process {

    // The results from any process that has the label "pooled_results" should
    // be put into the pooled_results_dir at the end of the workflow
    withLabel: pooled_results {
        publishDir = "${params.pooled_results_dir}"
    }

    // Don't do the following, 'script' is not a process directive: this is
    // just to show that you can define a directive and that nextflow will
    // complain but proceed happily
    withName: clone {
        script = "github-clone.R"
    }
}
